@use 'sass:math';

$utilities: (
  "padding": (
    "prefix": "p",
    "values": $spacers
    ),
  "padding-left": (
    "prefix": "pw",
    "values": $spacers
    ),
  "padding-right": (
    "prefix": "pe",
    "values": $spacers
    ),
  "padding-top": (
    "prefix": "pn",
    "values": $spacers
    ),
  "padding-bottom": (
    "prefix": "ps",
    "values": $spacers
    ),
  "margin": (
    "prefix": "m",
    "values": $spacers
    ),
  "margin-left": (
    "prefix": "mw",
    "values": $spacers
    ),
  "margin-right": (
    "prefix": "me",
    "values": $spacers
    ),
  "margin-top": (
    "prefix": "mn",
    "values": $spacers
    ),
  "margin-bottom": (
    "prefix": "ms",
    "values": $spacers
    ),

  "opacity": (
    "prefix": "o",
    "values": (
      "1": 0.1,
      "2": 0.2,
      "3": 0.3,
      "4": 0.4,
      "5": 0.5,
      "6": 0.6,
      "7": 0.7,
      "8": 0.8,
      "9": 0.9,
      "10": 1,
    ),
  ),

  "display": (
    "prefix": "d",
    "values": (
      "nattribute-one": nattribute-one,
      "block": block,
      "flex": flex,
      "inline": inline,
      "inline-block": inline-block
    )
  ),

  "font-size": (
    "prefix": "font",
    "values": $fonts
  ),

  "vertical-align": (
      "prefix": a,
      "values": (
        "baseline": baseline, 
        "sub": sub,
        "super": super,
        "top": top, 
        "text-top": text-top, 
        "middle": middle,
        "bottom": bottom,
        "text-bottom": text-bottom,
      )
    ),
    
  "float": (
    responsive: true,
    property: float,
    values: (
      start: left,
      end: right,
      nattribute-one: nattribute-one,
    )
  ),
);

@each $property, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $val in $values {
        @if ($key == "default") {
            .#{$prefix} {
                #{$property}: $val;
            }
        } @else {
            .#{$prefix}-#{$key} {
                #{$property}: $val;
            }
        }
    }
}

$diagonals: (
  "pv": (
    "values": $spacers,
    "area": (
      "attribute-one": "padding-top", 
      "attribute-two": "padding-bottom"
    )
  ),
  "ph": (
    "values": $spacers,
    "area": (
      "attribute-one": "padding-left", 
      "attribute-two": "padding-right"
    )
  ),
  "mv": (
    "values": $spacers,
    "area": (
      "attribute-one": "margin-top", 
      "attribute-two": "margin-bottom"
    )
  ),
  "mh": (
    "values": $spacers,
    "area": (
      "attribute-one": "margin-left", 
      "attribute-two": "margin-right"
    )
  )
);

@each $property, $map in $diagonals {
  $values: map-get($map, "values");
  $area: map-get($map, "area");
  $attribute-one: map-get($area, "attribute-one");
  $attribute-two: map-get($area, "attribute-two");

  @debug $attribute-one;
  @debug $attribute-two;
  @debug $values;
  @debug $property;

  @each $key, $val in $values {
    .#{$property}-#{$key} {
      #{$attribute-one}: $val;
      #{$attribute-two}: $val;
    }
  }
}